---
import { Image } from "astro:assets";
import ticTacToeImage from "./images/tic-tac-toe.png";
import spacexTravelersImage from "./images/space-x-travelers.png";
import mathematiciansImage from "./images/mathematicians-rn.png";
import wordleImage from "./images/wordle.png";
import acmeImage from "./images/acme.png";
import complNotesImages from "./images/compl-notes.png";

import { Icon } from "astro-icon";

const PROJECTS = [
  {
    name: "Compl Notes",
    stack: "Full-stack",
    image: { src: complNotesImages, alt: "Comple notes website" },
    description:
      "Full-stack web application to effortlessly track your own notes and those of your friends.",
    technologies: [
      "Java",
      "Spring Boot",
      "Spring Security",
      "PostgreSQL",
      "React",
      "TypeScript",
      "TailwindCSS",
    ],
    liveLink: "https://compl-notes.odiaz.com.co",
    sourceLink: "https://github.com/orlandodiazc/compl-notes",
  },
  {
    name: "Acme",
    stack: "Full-stack",
    image: { src: acmeImage, alt: "Acme website" },
    description:
      "Full-stack application designed to keep track of invoices. It's a clone of Next.js' Acme Dashboard.",
    technologies: [
      "Java",
      "Spring Boot",
      "Spring Security",
      "PostgreSQL",
      "React",
      "TypeScript",
      "TailwindCSS",
    ],
    liveLink: "https://acme.odiaz.com.co",
    sourceLink: "https://github.com/orlandodiazc/acme",
  },
  {
    name: "Mathematicians",
    stack: "Front-end",
    image: { src: mathematiciansImage, alt: "Mathematicians website" },
    description:
      "Mathematicians is an multiplatform app built with React Native. You can use it to perform quick math calculations, convert currencies and physical units.",
    technologies: ["React", "TypeScript", "React Native"],
    liveLink: "https://mathematicians.odiaz.com.co",
    sourceLink: "https://github.com/orlandodiazc/mathematicians-rn",
  },
  {
    name: "Space Travelers",
    stack: "Front-end",
    image: { src: spacexTravelersImage, alt: "SpaceX website" },
    description:
      "Space tourism application with multi-page routing that allows you to browse upcoming SpaceX missions, select your preferred one, and reserve your spot with just a few clicks.",
    technologies: ["React", "TypeScript", "Redux", "TailwindCSS"],
    liveLink: "https://space-travelers.odiaz.com.co",
    sourceLink: "https://github.com/orlandodiazc/space-x-travelers",
  },
  {
    name: "Tic Tac Toe",
    stack: "Front-end",
    image: { src: ticTacToeImage, alt: "Tic tac toe website" },
    description:
      "Single page application where you can play Tic Tac Toe games versus a computer or another player.",
    technologies: ["React", "TypeScript", "TailwindCSS"],
    liveLink: "https://tic-tac-toe.odiaz.com.co",
    sourceLink: "https://github.com/orlandodiazc/tic-tac-toe",
  },
  {
    name: "Wordle",
    stack: "Front-end",
    image: { src: wordleImage, alt: "Wordle website" },
    description:
      "Wordle is a popular online video game, you have 6 chances to guess the correct 5 letter word or you will lose, give it a go!",
    technologies: ["React", "TypeScript", "TailwindCSS"],
    liveLink: "https://wordle.odiaz.com.co",
    sourceLink: "https://github.com/orlandodiazc/wordle",
  },
];
---

<div class="section__divider">
  <section class="container section" id="projects">
    <h2 class="section__title">Projects</h2>
    <p class="section__description">
      Each project a unique piece of development.
    </p>
    <div class="project-list">
      {
        PROJECTS.map((project) => (
          <>
            <div class="project__wrapper" data-inviewport>
              <article class="project">
                <div class="project__image">
                  <Image
                    src={project.image.src}
                    width={1280}
                    height={800}
                    alt={project.image.alt}
                  />
                </div>
                <div>
                  <div class="project__heading-wrapper">
                    <h3 class="medium-heading project__title">
                      {project.name}
                    </h3>
                    <span class="badge project__heading-badge">
                      {project.stack}
                    </span>
                  </div>
                  <p class="small-p project__description">
                    {project.description}
                  </p>
                  <ul class="project__technologies list">
                    {project.technologies.map((technology) => (
                      <li class="badge">{technology}</li>
                    ))}
                  </ul>
                </div>
                <div class="project__links">
                  <a
                    class="button button--primary"
                    target="_blank"
                    href={project.liveLink}
                  >
                    <span class="icon-wrapper--small">
                      <Icon name="lucide:link" class="icon-xs" />
                    </span>
                    <span>See live</span>
                  </a>
                  <a
                    class="button button--transparent button--outline"
                    target="_blank"
                    href={project.sourceLink}
                  >
                    <span class="icon-wrapper--small">
                      <Icon name="lucide:github" class="icon-xs" />
                    </span>
                    <span>See code</span>
                  </a>
                </div>
              </article>
            </div>
          </>
        ))
      }
    </div>
  </section>
</div>

<style lang="scss">
  @use "styles/screen";

  .badge {
    padding: 0.05rem 0.5rem;
    display: inline-flex;
    align-items: center;
    color: var(--accents-8);
    font-size: 14px;
    border: 1px solid var(--accents-2);
    border-radius: 0.25rem;
    box-shadow: var(--badge-shadow);
  }

  .project-list {
    display: grid;
    grid-gap: 2rem;

    @media (min-width: screen.$lg) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .project {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.25rem;
    height: 100%;

    &__wrapper {
      background-color: var(--accents-1);
      border: 1px solid var(--accents-2);
      border-radius: 1rem;
      box-shadow: var(--project-shadow);
    }

    &__heading-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__heading-badge {
      margin-top: 0.15rem;
    }

    &__title {
      margin-bottom: 0;
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 16 / 10;
      border-radius: 0.5rem;

      img {
        width: auto;
        height: auto;
        border-radius: inherit;
      }
    }

    &__description {
      margin-bottom: 0.5rem;
    }

    &__technologies {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 0.25rem;
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-top: auto;

      a {
        text-decoration: none;
      }

      @media (min-width: screen.$md) {
        flex-direction: row;
      }
    }

    @media (min-width: screen.$md) {
      &__title {
        font-size: 1.75rem;
      }

      &__description {
        font-size: 1.1rem;
      }
    }
  }
</style>
