---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import ThemeToggle from "./ThemeToggle.astro";
import logo from "./logo.png";
const navItems = [
  { name: "Home", href: "#top" },
  { name: "Projects", href: "#projects" },
  { name: "About", href: "#about" },
  { name: "Contact", href: "#contact" },
];
---

<header class="header container">
  <nav class="menu-root">
    <div class="site-main-nav">
      <div class="header__logo">
        <a href="#top" aria-label="Home">
          <Image src={logo} alt="Website logo" height={64} />
        </a>
      </div>
      <div class="navigation-menu">
        <ul class="navigation-menu__list list">
          {
            navItems.map(({ name, href }) => (
              <li>
                <a href={href} class="navigation-menu__link">
                  {name}
                </a>
              </li>
            ))
          }
        </ul>
        <ThemeToggle />
      </div>
      <button
        id="mobile-menu-toggle"
        aria-label="Toggle menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <Icon name="lucide:menu" class="mobile-menu-icon" />
        <Icon name="lucide:x" class="mobile-menu-icon hidden" />
      </button>
    </div>
    <div class="mobile-menu" id="mobile-menu">
      <ul class="list">
        {
          navItems.map(({ name, href }) => (
            <li>
              <a href={href} class="mobile-menu__link">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="mobile-menu__bottom">
        <ThemeToggle />
        <div class="mobile-menu__bottom-links">
          <a
            href="https://www.linkedin.com/in/orlando-diaz-conde/"
            target="_blank"
            class="button button--icon button--transparent"
          >
            <span class="icon-wrapper--small mobile-menu__bottom-link-icon"
              ><Icon name="lucide:linkedin" /></span
            >
          </a>
          <a
            href="https://github.com/orlandodiazc"
            target="_blank"
            class="button button--icon button--transparent"
            aria-label="Github"
          >
            <span class="icon-wrapper--small mobile-menu__bottom-link-icon"
              ><Icon name="lucide:github" /></span
            >
          </a>
          <a
            href="https://drive.google.com/file/d/1nz5CCcsTaH7enlMZbuXHuxr2ZSsLGSEr/view?usp=sharing"
            target="_blank"
            class="button button--icon button--transparent"
            aria-label="Orlando's resume"
          >
            <span class="icon-wrapper--small mobile-menu__bottom-link-icon"
              ><Icon name="lucide:file-text" /></span
            >
          </a>
        </div>
      </div>
    </div>
  </nav>

  <style lang="scss">
    @use "styles/screen";

    #mobile-menu-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      color: var(--accents-5);
      cursor: pointer;
      background-color: transparent;
      border: 1px solid var(--gray-alpha-400);
      border-radius: 50%;
    }

    .header.menu-active {
      height: calc(100dvh - (var(--header-top) * 2));
    }

    .site-main-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: calc(var(--header-height) - var(--header-top));
    }

    .menu-root {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .header {
      isolation: isolate;
      overflow: hidden;
      position: fixed;
      top: var(--header-top);
      inset-inline: 0;
      margin-inline: auto;
      z-index: var(--layer-header);
      height: calc(var(--header-height) - var(--header-top));
      width: calc(100vw - 2rem);
      -webkit-backdrop-filter: blur(24px) saturate(140%);
      backdrop-filter: blur(24px) saturate(140%);
      box-shadow: 0 0 0 1px var(--gray-alpha-400);
      border-radius: 1rem;
      padding-inline: 1rem;
      background: var(--header-background);

      &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;

        img {
          width: auto;
          height: auto;
        }
      }

      @media (min-width: screen.$lg) {
        padding-inline: 3rem;
      }
    }

    .mobile-menu {
      padding: 0.75rem 0.5rem 1.5rem 0.5rem;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &__bottom {
        margin-top: auto;
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        &-links {
          display: flex;
          gap: 1rem;
        }

        &-link-icon {
          color: var(--accents-7);
        }
      }

      &__link {
        display: flex;
        align-items: center;
        height: 3rem;
        font-weight: 500;
        color: var(--accents-7);
        border-block-end: 1px solid var(--accents-6);
        transition: 200ms ease-in-out;

        &:hover {
          color: var(--accents-6);
        }
      }
    }

    .navigation-menu {
      display: none;

      ul {
        display: flex;
        gap: 1.6rem;
      }

      &__link {
        color: var(--accents-5);
        transition: 200ms ease-in-out;

        &:hover {
          color: var(--foreground);
        }
      }
    }

    @media (min-width: screen.$md) {
      #mobile-menu-toggle {
        display: none;
      }

      .mobile-menu {
        display: none;
      }

      .navigation-menu {
        display: flex;
        gap: 1.75rem;
        align-items: center;
      }
    }
  </style>

  <script>
    const header = document.querySelector(".header") as HTMLElement;
    document.addEventListener("DOMContentLoaded", () => {
      function toggleMobileNav() {
        mobileMenuIcons.forEach((icon) => icon.classList.toggle("hidden"));
        header.classList.toggle("menu-active");
        menuButton.ariaExpanded =
          menuButton.ariaExpanded === "false" ? "true" : "false";
        document.body.style.overflow =
          document.body.style.overflow === "" ? "hidden" : "";
      }
      const menuButton = document.getElementById(
        "mobile-menu-toggle"
      ) as HTMLElement;

      const mobileMenuIcons = document.querySelectorAll(".mobile-menu-icon");

      menuButton.addEventListener("click", toggleMobileNav);

      const mobileMenuLinks = document.querySelectorAll(".mobile-menu__link");

      mobileMenuLinks.forEach((link) =>
        link.addEventListener("click", toggleMobileNav)
      );

      window.addEventListener("resize", () => {
        const width = window.innerWidth;
        if (width >= 720 && document.body.style.overflow === "hidden") {
          toggleMobileNav();
        }
      });
    });
  </script>
</header>
