---
import { Image } from "astro:assets";
import logo from "./logo.png";
const navItems = [
  { name: "Home", href: "#home" },
  { name: "Projects", href: "#projects" },
  { name: "Contact", href: "#contact" },
];
---

<div class="header__wrapper">
  <header class="container header">
    <a href="#home">
      <Image src={logo} alt="Website logo" height={32} />
    </a>
    <nav class="navigation-menu">
      <ul class="navigation-menu__list list">
        {
          navItems.map(({ name, href }) => (
            <li>
              <a href={href} class="navigation-menu__link">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <button id="mobile-menu-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-menu-toggler"
      >
        <g class="mobile-menu hidden">
          <path d="M18 6 6 18"></path>
          <path d="m6 6 12 12"></path>
        </g>
        <g class="mobile-menu">
          <line x1="4" x2="20" y1="8" y2="8"></line>
          <line x1="4" x2="20" y1="16" y2="16"></line>
        </g>
      </svg>
    </button>
    <nav class="container mobile-menu mobile-menu__wrapper hidden">
      <ul class="list">
        {
          navItems.map(({ name, href }) => (
            <li>
              <a href={href} class="mobile-menu__link">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </header>

  <style lang="scss">
    a {
      color: inherit;
      text-decoration: none;
    }

    button {
      height: 2rem;
      aspect-ratio: 1;
      color: #ededed;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid var(--border);
      border-radius: 100%;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &__wrapper {
        position: sticky;
        top: 0;
        z-index: 2000;
        display: flex;
        justify-content: center;
        min-height: 4rem;
        background-color: transparent;
        transition:
          box-shadow 200ms ease 0s,
          background-color 200ms ease 0s;
      }
    }

    .header-border {
      background-color: var(--background);
      box-shadow: var(--header-box-shadow);
    }

    .mobile-menu {
      &__wrapper {
        position: fixed;
        top: 3rem;
        left: 0;
        z-index: 2000;
        width: 100%;
        max-width: 100vw;
        height: 100%;
        padding-block-start: 0.5rem;
        overflow-y: auto;
        background-color: var(--background);
      }

      &__link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: var(--muted-foreground);
        border-block-end: 1px solid;
        transition: 200ms ease-in-out;

        &:hover {
          background-color: var(--muted);
        }
      }
    }

    .navigation-menu {
      display: none;

      &__list {
        display: flex;
        gap: 1.75rem;
      }

      &__link {
        color: var(--muted-foreground);
        transition: 200ms ease-in-out;

        &:hover {
          color: var(--foreground);
        }
      }
    }

    @media (width >= 720px) {
      #mobile-menu-toggle {
        display: none;
      }

      .mobile-menu {
        display: none;
      }

      .navigation-menu {
        display: block;
      }
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      function toggleMobileNav() {
        mobileMenu.forEach((el) => {
          el.classList.toggle("hidden");
          document.body.style.position =
            document.body.style.position === "" ? "fixed" : "";
        });
      }
      const menuButton = document.getElementById("mobile-menu-toggle");
      const mobileMenu = document.querySelectorAll(".mobile-menu");
      menuButton && menuButton.addEventListener("click", toggleMobileNav);

      const headerWrapper = document.querySelector(".header__wrapper");
      const root = document.documentElement;
      document.addEventListener("scroll", () => {
        if (root.scrollTop === 0) {
          headerWrapper.classList.remove("header-border");
        } else if (!headerWrapper.classList.contains("header-border")) {
          headerWrapper.classList.add("header-border");
        }
      });
    });
  </script>
</div>
