---
import { Sprite, Icon } from "astro-icon";

const BACKEND_TECHNOLOGIES = [
  {
    title: "Java",
    iconName: "java",
  },
  {
    title: "Spring Framework",
    iconName: "spring",
  },

  {
    title: "PostgreSQL",
    iconName: "postgresql",
  },
  {
    title: "JUnit",
    iconName: "JUnit",
  },
  {
    title: "Jakarta Bean Validation",
    iconName: "jbv",
  },
  {
    title: "Springdoc",
  },
  {
    title: "Rest API",
  },
];

const FRONTEND_TECHNOLOGIES = [
  {
    title: "React",
    iconName: "react",
  },
  {
    title: "JavaScript",
    iconName: "javascript",
  },
  {
    title: "TypeScript",
    iconName: "typescript",
  },
  {
    title: "Redux",
    iconName: "redux",
  },
  {
    title: "Vitest",
    iconName: "vitest",
  },
  {
    title: "Testing Library",
    iconName: "testing-library",
  },
  {
    title: "Playwright",
    iconName: "playwright",
  },
  {
    title: "Sass",
    iconName: "sass",
  },
  {
    title: "TailwindCSS",
    iconName: "tailwind",
  },
  {
    title: "Bootstrap",
    iconName: "bootstrap",
  },
];

const METHODS = [
  "Docker",
  "Docker compose",
  "VSCode",
  "Git",
  "GitHub",
  "Gitflow",
  "Responsive design",
  "TDD",
  "Chrome Dev Tools",
  "Debugging",
  "OpenAPI",
];
---

<div class="section__divider">
  <section class="container section" id="about">
    <h2 class="section__title">About</h2>
    <div class="about" data-inviewport>
      <div class="about__me">
        <div>
          <div class="about__me-title">
            <div class="about__me-title-icon-wrapper">
              <Icon name="lucide:user" />
            </div>
            <h3 class="medium-heading">Me</h3>
          </div>
          <p class="small-p">
            Hello, I'm Orlando - a front-end developer with passion for crafting
            optimized and bug-free web applications.
          </p>
        </div>
        <div>
          <div class="about__me-title">
            <div class="about__me-title-icon-wrapper">
              <Icon name="lucide:skip-back" />
            </div>
            <h3 class="medium-heading">Background</h3>
          </div>
          <p class="small-p">
            As an Electronic Engineering graduate, I have acquired essential
            skills in logical thinking and algorithms, which has allowed me to
            pursue self-taught education in web technologies.
          </p>
        </div>
        <div>
          <div class="about__me-title">
            <div class="about__me-title-icon-wrapper">
              <Icon name="lucide:thumbs-up" />
            </div>
            <h3 class="medium-heading">Interests</h3>
          </div>

          <p class="small-p">
            I like playing the guitar, taking walks, watching or playing
            football/soccer, and some times I enjoy web development streams.
          </p>
        </div>
        <div class="about__me-resume-link">
          <a
            class="button button--primary button--small"
            target="_blank"
            href="https://drive.google.com/file/d/1nz5CCcsTaH7enlMZbuXHuxr2ZSsLGSEr/view?usp=sharing"
            >Get my resume</a
          >
        </div>
      </div>
      <Sprite.Provider>
        <div class="skills__wrapper">
          <div class="skills">
            <div class="skills__subtitle-wrapper">
              <h3 class="medium-heading">Front-end</h3>
            </div>
            <ul class="skills__list list" data-inviewport>
              {
                FRONTEND_TECHNOLOGIES.map(({ title, iconName }) => (
                  <li class="skills__tech-item">
                    {iconName && (
                      <div class="skills__tech-image-wrapper">
                        <Sprite name={iconName} />
                      </div>
                    )}
                    <span>{title}</span>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="skills">
            <div class="skills__subtitle-wrapper">
              <h3 class="medium-heading">Back-end</h3>
            </div>
            <ul class="skills__list list" data-inviewport>
              {
                BACKEND_TECHNOLOGIES.map(({ title, iconName }) => (
                  <li class="skills__tech-item">
                    {iconName && (
                      <div class="skills__tech-image-wrapper">
                        <Sprite name={iconName} />
                      </div>
                    )}
                    <span>{title}</span>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="skills">
            <div class="skills__subtitle-wrapper">
              <h3 class="medium-heading">Tools and Methods</h3>
            </div>
            <ul class="skills__list list">
              {
                METHODS.map((method) => (
                  <li class="skills__method-item">{method}</li>
                ))
              }
            </ul>
          </div>
        </div>
      </Sprite.Provider>
    </div>
  </section>
</div>

<style lang="scss">
  @use "styles/screen";

  .about {
    display: grid;
    gap: 1rem;
    margin-inline: auto;
    margin-top: 2rem;

    &__me {
      display: flex;
      flex-direction: column;
      margin-inline: auto;
      text-align: center;

      > div {
        margin-bottom: 0.5rem;
      }

      &-title {
        display: flex;
        gap: 0.4rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.25rem;

        h3 {
          margin-bottom: 0;
        }

        &-icon-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          aspect-ratio: 1;
          padding: 0.3rem;
          border: 1px solid var(--accents-4);
          border-radius: 0.5rem;
          box-shadow: var(--badge-shadow);
        }
      }

      &-resume-link {
        margin-bottom: 1.5rem;

        a {
          color: hsl(0deg 0% 5%);
          text-decoration: none;
          background-color: hsl(47deg 82% 43%);

          &:hover {
            background-color: hsl(47deg 82% 41%);
          }
        }

        @media (min-width: screen.$sm) {
          margin-inline: auto;
        }

        @media (min-width: screen.$lg) {
          margin: 0;
          margin-inline-end: auto;
        }
      }

      @media (min-width: screen.$lg) {
        > div {
          margin-bottom: 0;
        }

        &-title {
          justify-content: start;
        }
      }
    }

    @media (min-width: screen.$lg) {
      grid-template-columns: 1fr 40%;
      grid-auto-flow: column;

      &__me {
        text-align: left;
      }
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;

    &__wrapper {
      @media (min-width: screen.$lg) {
        order: -1;
      }
    }

    &__description {
      margin-bottom: 1.5rem;
      color: var(--accents-5);
      text-align: center;
      text-wrap: balance;
      letter-spacing: -0.02em;
    }

    &__subtitle-wrapper {
      width: 90%;
      margin-inline: auto;
      text-align: center;
      border-block-end: 1px solid var(--accents-4);
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
    }

    &__tech-item {
      display: flex;
      align-items: center;
      margin-inline-end: 0.75rem;
      font-size: 16px;
      gap: 0.5rem;
      padding: 7px;
      color: var(--accents-7);

      @media (min-width: screen.$md) {
        font-size: 18px;
      }
    }

    &__tech-image-wrapper {
      display: flex;
      height: 24px;
      width: 24px;

      @media (min-width: screen.$md) {
        height: 28px;
        width: 28px;
      }
    }

    &__method-item {
      padding: 7px;
      font-size: 16px;
      color: var(--accents-7);

      @media (min-width: screen.$md) {
        font-size: 18px;
      }
    }
  }
</style>
